.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
  }
  
  .shimmer {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        100deg,
        #adb2ba 25%,
        #c1c6cd 37%,
        #adb2ba 63%


    );
    background-size: 200% 100%;
    animation: shimmer 1.4s  infinite;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
  .image-container img {
    object-fit: cover;
    display: block;
  }
  